{% extends 'templates/app.twig' %}

{% block content %}
	<a class="btn btn-info" href="{{ path_for('tasks.create') }}" role="button">Create new task</a>
	{% if data.tasks.count > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Task</th>
					<th scope="col">Completed</th>
					<th scope="col">Created At</th>
					<th scope="col">Updated At</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for task in data.tasks %}
					<tr>
						<td>{{ task.name }}</td>
						<td>{{ task.completed }}</td>
						<td>{{ task.created_at }}</td>
						<td>{{ task.updated_at }}</td>
						<td>
							<form action="{{ path_for('tasks.destroy', {'id': task.id}) }}" method="POST" class="form-inline">
								<input type="hidden" name="_METHOD" value="DELETE"/>
								<a class="btn btn-primary" href="{{ path_for('tasks.edit', { 'id': task.id }) }}" role="button">Edit</a>
								<button class="btn btn-danger" type="submit">Delete</button>
								{{ csrf.field | raw }}
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No tasks created!</p>
	{% endif %}
	
{% endblock %}